[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
django-filter = "*"
djongo = "*"
pymongo = {extras = ["srv"], version = "*"}
drf-nested-routers = "*"
mongoengine = "*"
django-rest-framework-mongoengine = "*"

[dev-packages]
ipython = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.8"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
mm = "python manage.py makemigrations"
mg = "python manage.py migrate"
cs = "python manage.py collectstatic"
test = "python manage.py test"
shell = "python manage.py shell"
